html,
body {
    margin: 0;
    overflow: hidden;
    font: normal 100%/100% Verdana, sans-serif;
    color: #75502b;
    height: 100%;
}

#menu_container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    visibility: hidden;
}

#stats {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    z-index: 1000;
    padding: 5px;
    font-size: 1.2rem;
    /*border: 1px solid black;*/
    /*background: green;*/
    text-align: right;
    visibility: hidden;
}

#player_id {
    font-size: 1.2rem;
    font-weight: bold;
}

#canvas {
    width: 100%;
    height: 100%;
    border: solid 1px #ccc;
}

.input_caption {
    font-size: 1rem;
    padding: 5px;
}

.input {
    font-size: 1rem;
    color: #75502b;
    width: 20px;
}

#inputs {
    float: right;
    margin-right: 25px;
}

#seeds_number {
    /*padding: 5px;*/
}

#human_vs_machine {
    margin-left: 25px;
    padding: 5px;
    color: #75502b;
    font-weight: bold;
    font-size: 1.2rem;
    background: white;
    border: none;
    outline: none;
    text-decoration: none;
}
#machine_vs_machine {
    margin-left: 25px;
    padding: 5px;
    color: #75502b;
    font-weight: bold;
    font-size: 1.2rem;
    background: white;
    border: none;
    outline: none;
    text-decoration: none;
}

#new_game:hover {
    background: #ACA35E;
    text-decoration: none;
}
